footer{
    position: relative;
    width: 100%;
    padding: 40px 10vw;
    padding: bottom 80px;
      background: rgb(77, 94, 243);
       
}

.footer-content{
    display:flex;
    width: 100%;
    justify-content: space-between;

}

.footer-ul-container{
    width: 45%;
    display: flex;
    justify-content: space-between;
    


}
.category{
    width: 200px;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    list-style: none;

}
.category-title{
    grid-column: span2;
    text-transform: capitalize;
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
    justify-content: space-between; 

}
.category .footer-link{
    text-decoration: none;
    text-transform: capitalize;
    color:rgba(255,255,255,0.75);
    justify-content: space-between; 
}

.footer-link:hover{
    color:rgb(28, 65, 228);
    font-weight: bold;

}
.footer-title{
    text-transform: capitalize;
    color: white;
    font-size: 20px;
}


.footer-title{
    margin-top: 80px;
    color: white;
     
}
.footer-title, .info{
    color: rgba(255,255,255,0.75);
    margin: 20px 0;
    text-transform: capitalize;
}
.footer-social-container{
    margin-top:40px;
    display: flex;
    justify-content: space-between;

}
.social-link{
    color:aliceblue;
    margin-left: 20px;
    text-transform: capitalize;
}
.social-link:hover{
    color:rgb(0, 0, 15);
}
 .social-link:nth-child(1){
     margin-left: 0;
 }
     
 .footer-credit{

width: 100%;
padding: 10px;
position:absolute;
left: 0;
bottom: 0;

text-align: center;
color: white;
text-decoration-style: solid;

font-style: italic;
background-color: rgb(85, 4, 4);

 }
 .footer-credit:hover{
       background-color:rgb(146, 4, 4);
 }
 